absl-py==2.0.0
ailia==1.3.0.6
ale-py==0.8.1
alembic==1.14.1
annotated-types==0.6.0
antiorm==1.2.1
anyio==4.0.0
anytree==2.12.1
app==0.0.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.5.2
astroid==3.3.8
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==25.1.0
autobahn==22.7.1
Automat==20.2.0
AutoROM==0.6.1
AutoROM.accept-rom-license==0.6.1
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bidict==0.23.1
bleach==6.0.0
blinker==1.8.2
cachetools==5.3.2
certifi==2023.7.22
cffi==1.17.1
channels==3.0.5
channels-redis==4.0.0
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.4
commonmark==0.9.1
config==0.5.1
constantly==15.1.0
contourpy==1.1.1
crypto==1.4.1
cryptography==38.0.1
cycler==0.12.0
daphne==3.0.2
db==0.1.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.9
distlib==0.3.9
Django==4.1.2
dnspython==2.6.1
docopt==0.6.2
docutils==0.21.2
email_validator==2.2.0
et-xmlfile==1.1.0
eventlet==0.37.0
executing==1.2.0
Farama-Notifications==0.0.4
fastapi==0.115.8
fastjsonschema==2.18.0
filelock==3.13.1
filetype==1.2.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-Principal==0.4.0
Flask-Security==5.6.0
Flask-SocketIO==5.3.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flatbuffers==24.3.25
flet==0.27.1
flet-desktop==0.27.1
fonttools==4.43.0
fpdf==1.7.2
fqdn==1.5.1
fsspec==2023.10.0
gast==0.5.4
gevent==24.11.1
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
googletrans==4.0.2
graphviz==0.20.3
greenlet==3.1.0
grpcio==1.59.2
gunicorn==23.0.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hpack==4.1.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.4
imageio==2.34.1
importlib==1.0.4
importlib-resources==6.1.1
incremental==22.10.0
instagrapi==2.0.1
ipykernel==6.25.2
ipython==8.12.3
ipywidgets==8.1.1
isoduration==20.11.0
isort==6.0.1
itsdangerous==2.2.0
jedi==0.19.0
Jinja2==3.1.4
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
keras==3.3.3
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
lml==0.1.0
Mako==1.3.9
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mglearn==0.2.0
mistune==3.0.1
ml-dtypes==0.3.2
modelutils==0.1.2
mpmath==1.3.0
msgpack==1.0.4
mysql-connector-python==9.2.0
Naked==0.1.32
namex==0.0.8
nbclient==0.8.0
nbconvert==7.16.6
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
notebook_shim==0.2.3
numpy==1.26.0
oauthlib==3.2.2
opencv-python==4.8.1.78
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
opuslib==3.0.1
overrides==7.4.0
packaging==24.1
pandas==2.1.1
pandocfilters==1.5.0
parso==0.8.3
passlib==1.7.4
pathfinding==1.0.4
pdf2image==1.17.0
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.5.0
platformdirs==3.10.0
plotly==5.18.0
prettytable==3.10.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.5
pure-eval==0.2.2
py2puml==0.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.21.0
pycryptodomex==3.18.0
pydantic==2.5.2
pydantic_core==2.14.5
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-xlsx==0.6.0
pygame==2.5.2
pyglet==2.0.10
Pygments==2.13.0
pylint==3.3.4
pyOpenSSL==22.1.0
pyparsing==3.0.9
PyPDF2==3.0.1
pypiwin32==223
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.9.1
python-json-logger==2.0.7
python-socketio==5.11.4
pytz==2023.3.post1
pyVoIP==1.6.8
PyYAML==6.0.1
pyzmq==25.1.1
redis==4.3.4
referencing==0.30.2
regex==2023.10.3
repath==0.9.0
repoze.lru==0.7
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==12.6.0
Routes==2.5.1
rpds-py==0.10.3
rsa==4.9
scikit-image==0.23.2
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.13.0
Send2Trash==1.8.2
service-identity==21.1.0
shapely==2.0.2
shellescape==3.8.1
Shimmy==1.1.0
simple-websocket==1.0.0
sip==6.8.3
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.29
sqlparse==0.4.3
stable-baselines3==2.1.0
stack-data==0.6.2
starlette==0.45.3
sympy==1.12
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.17.1
textblob==0.17.1
texttable==1.6.7
thread==2.0.5
threadpoolctl==3.2.0
tifffile==2024.4.24
tinycss2==1.1.1
tomlkit==0.13.2
torch==2.1.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.10.1
Twisted==22.8.0
twisted-iocpsupport==1.0.4
txaio==22.2.1
typing_extensions==4.12.2
tzdata==2023.3
uri-template==1.3.0
urllib3==2.0.5
utils==1.0.2
uvicorn==0.34.0
virtualenv==20.29.2
voip-utils==0.1.0
watchfiles==1.0.4
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.3
websockets==14.2
Werkzeug==3.0.4
widgetsnbextension==4.0.9
wrapt==1.14.1
wsproto==1.2.0
WTForms==3.2.1
yarg==0.1.9
zope.event==5.0
zope.interface==5.5.0
