Flask
flask-socketio
flask-cors
flask-login
flask-migrate
flask-sqlalchemy
sqlalchemy
flask-security
werkzeug
googletrans==4.0.0-rc1
chardet
unicodedata2
fpdf
pandas
requests
pytest-shutil
logging
enum34
gunicorn
