/* Основные стили для страницы */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
    background-color: #F7F8FB; /* Спокойный фон */
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #F0F0F5;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #0071E3;
    text-decoration: none;
    margin: 0 30px;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #005BB5;
}

/* Контейнер с контентом */
.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

/* Заголовок */
.title {
    font-size: 36px;
    font-weight: 600;
    color: #1D1D1D;
    margin-bottom: 30px;
}

/* Контролы */
.controls {
    margin-bottom: 30px;
}

.btn {
    padding: 14px 28px;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    margin-right: 20px;
    text-transform: uppercase;
}

.save-btn {
    background-color: #4CAF50;
}

.add-column-btn {
    background-color: #FF5A00;
}

.btn:hover {
    transform: translateY(-2px);
    background-color: #45A049;
}

/* Таблица */
.table-container {
    overflow-x: auto;
}

.kpi-table {
    width: 100%;
    border-collapse: collapse;  /* Убираем промежутки между ячейками */
    background-color: white;
    box-shadow: none; /* Убираем тени для таблицы */
}

.kpi-table th, .kpi-table td {
    padding: 8px; /* Меньшие отступы для компактности */
    border: 1px solid #D1D1D6; /* Легкая граница */
    text-align: center;
    background-color: #F9F9F9; /* Спокойный цвет фона ячеек */
}

.kpi-table th {
    background-color: #F0F0F5; /* Цвет для заголовков */
}

.column-input, .kpi-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #D1D1D6;
    border-radius: 8px;
    background-color: #F7F7F8; /* Спокойный фон */
    font-size: 14px;
    transition: border-color 0.2s ease;
}

.column-input:focus, .kpi-input:focus {
    border-color: #0071E3;
    outline: none;
    background-color: #FFFFFF;
}

/* Уведомление */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #D4EDDA;
    color: #155724;
    padding: 16px;
    border-radius: 12px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.notification.hidden {
    display: none;
}

.notification-error {
    background-color: #F8D7DA;
    color: #721C24;
}

.notification-content {
    font-size: 14px;
    font-weight: 500;
}
