<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        
        <a href="{{ url_for('documents.documents') }}">Documents</a>
        <a href="{{ url_for('chat.chat') }}">Chat</a>
        <a href="{{ url_for('reports.reports') }}">Reports</a>
        <a href="{{ url_for('kpi.kpi_constructor') }}">KPI</a>
        <a href="{{ url_for('zoom.zoom') }}">Zoom</a>
        
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
