<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('documents.documents') }}">Documents</a>
        <a href="{{ url_for('chat.chat') }}">Chat</a>
        <a href="{{ url_for('reports.reports') }}">Reports</a>
        <a href="{{ url_for('kpi.kpi') }}">KPI</a>
        <a href="{{ url_for('zoom.zoom') }}">Zoom</a>
    </div>

    <div class="container">
        <h1>Documents</h1>

        <div class="form-container">
            <form action="{{ url_for('documents.upload_file') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <button type="submit">Upload Document</button>
            </form>

            <form action="{{ url_for('documents.translate_upload') }}" method="post" enctype="multipart/form-data">
                <label for="file">Choose file to translate:</label>
                <input type="file" name="file" required>
                <label for="direction">Choose translation direction:</label>
                <select name="direction">
                    <option value="ky-ru">Kyrgyz to Russian</option>
                    <option value="ru-ky">Russian to Kyrgyz</option>
                </select>
                <button type="submit">Upload and Translate</button>
            </form>
        </div>

        <div class="button-group">
            <a href="{{ url_for('documents.create_documents') }}" class="btn btn-primary">Create New Document</a>
            <form action="{{ url_for('auth.logout') }}" method="GET">
                <button type="submit">Log Out</button>
            </form>
        </div>

        <h3>Uploaded Documents</h3>
        <ul>
            {% if documents == ["No documents available. Upload a new file!"] %}
                <li>{{ documents[0] }}</li>
            {% else %}
                {% for document in documents %}
                    <li>
                        <a href="{{ url_for('documents.view_file', filename=document) }}" target="_blank">{{ document }}</a>
                        <div class="actions">
                            <form action="{{ url_for('documents.delete_file', filename=document) }}" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                            <a href="{{ url_for('documents.download_file', filename=document) }}">Download</a>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</body>
</html>